
<div class = "container">

	<H1>Vikrant Kulkarni</H1> 
	<H2>Full stack java developer with 15 plus yrs of experiance</H2><br/>
	<H2><U>Skillset snapshot</U></H2><br/>
	<H3>

<ul class="list-group list-group-flush">
  <li class="list-group-item">Java 7 / Java 8</li>
  <li class="list-group-item">Spring boot , Spring REST , Spring security, Spring MVC , Spring hibernate</li>
  <li class="list-group-item">SOAP Web services</li>
  <li class="list-group-item">Angular js 1x (learned Angular 8/9 for the purpose of this assignment)</li>
  <li class="list-group-item">iText</li>
</ul>
</H3>
	</div>
